# .gitignore
# don't include these files in the git repo
*.env
eeprom
hc.settings
tmp/
.agent/
.agents/

# C stuff
*.o
*.a
*.d

# IDE settings
.vscode/

# Vega OS build and dependencies
vega/build/
vega/node_modules/
vega/CMakeUserPresets.json
vega/buildinfo.json
